## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2025/11/23 01:45:34

[Commit](https://github.com/JosipKuci/arduino-esp32/commit/22cc3553ced757c08c1fb5dd7847957ad39570cb) / [Build and QEMU run](https://github.com/JosipKuci/arduino-esp32/actions/runs/19604079419) / [Hardware and Wokwi run](https://github.com/JosipKuci/arduino-esp32/actions/runs/19604144220) / [Results processing](https://github.com/JosipKuci/arduino-esp32/actions/runs/19604146519)

[Test results](https://github.com/JosipKuci/arduino-esp32/runs/56140079026)
